@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color:rgb(10, 10, 10);
    font-size: 14px;
    line-height: 22px;
    color: blueviolet;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.semi_bold{
    font-weight: 500;
    font-size: 16px;
}

.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.resume .resume_left{
    width: 280px;
    background-color: black;
}

.resume .resume_left .resume_profile{
width: 100%;
height: 280px;
}

.resume .resume_left .resume_profile img{
    width: 100%;
    height: 100%;
}

.resume .resume_left .resume_content{
    padding: 0 25px;
}

.resume .title{
    margin-bottom: 20px;
}

.resume .resume_left .bold{
    color: darkmagenta;
}

.resume .resume_left .regular{
    color: blueviolet;
}

.resume .resume_item{
    padding: 25px 0;
    border-bottom: 2px solid darkmagenta;
}

.resume .resume_left .resume_item:last-child{
    border-bottom: 0px;
}

.resume .resume_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resume .resume_left ul li:last-child{
    margin-bottom: 0;
}

.resume .resume_left ul li .data{
    color: blueviolet;
}

.resume .resume_left .resume_skills ul li{
    color: blueviolet;
    justify-content: space-between;
}

.resume .resume_left .resume_skills ul li .skill_name{
    width: 25%;
}

.resume .resume_right{
    width: 520px;
    background: rgb(10, 10, 10);
    padding: 25px;
}

.resume .resume_right .bold{
    color: darkmagenta;
}

.resume .resume_right ul li{
    position: relative;
}